{% extends "base.html" %}
{% block htmlbody %}
	{% if user.is_authenticated %}
		<h2>Hello {{user.username|default:'guest'}}</h2>
		<div class='pull-right'><a href="/logout" class="btn btn-danger">Logout</a></div>
	{% endif %}
	<div class='pull-right'>
		<a href="/new" class="btn btn-success"><i class='icon-plus icon-white'></i>Upload</a>
	</div>
	<table class='table table-hover'>
		<tr><th>description</th><th>download</th><th>author</th><th>date and time</th></tr>
		{% for file in files %}
		<tr>
			<td>{{file.description}}</td>
			<td>{{file.file_link|safe}}</td>
			<td>{{file.register}}</td>
			<td>{{file.datetime}}</td>
		</tr>
		{% empty %}
		<tr><td colspan=4>No data</td></tr>
		{% endfor %}
	</table>
{% endblock htmlbody %}